:root {
  --main-page-color:#790c5a; 
  --secondary-page-color:#F9F7FD; ;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--main-page-color);
  font-family: var(--heading-font-family);
 
}
h1 {
   
  font-size: 86px;
  font-weight: 600;
  
}
h2 {
  font-size: 54px;
  margin-top: 65px;
}
p {
  color: var(--main-page-color);
  font-family: var(--default-font-family);
  line-height: 30px;
}
img{
    border: 1px solid var(--secondary-page-color);
    border-radius: 4px;
    padding: 50px 35px;
    background: var(--secondary-page-color);
    width: 85%;
}

.hero {
 background: var(--secondary-page-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: var(--main-page-color);
}

.hero h2{
    font-family: var(--heading-font-family);
    font-size: 25px;
    font-weight: normal;
    line-height: 1,5;
}
.about-section h1{
   font-size: 64px;
   line-height: 80px;
}
.about-section h2{
    font-size: 25px;
    font-family: var(--default-font-family);
}
.about-section{
    padding: 160px 20px;
}
.about-section-content{
   margin: 30px;
}

.btn-branding{
    border-radius: 4px;
    color: white;
    background: var(--main-page-color);
    font-size: 18px;
    padding: 15px 30px;
    line-height: 25px;
}
.btn-branding-browse{
     border-radius: 4px;
    color: var(--main-page-color);
    font-size: 18px;
    padding: 15px 30px;
    line-height: 25px;
    border: 1px solid var(--main-page-color);
}
.project-description{
    padding: 120px 60px;
}